---
---

@import "{{ site.theme }}";

$color-slate: darken(#4a5c66,20%);
$color-ocean: #00b8e6;
$color-silver: #CCC;

@import "code";

body {
  background-color: $color-slate;
  color: #CCC;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
}

.site-header, .site-footer {
  max-width: 800px;
  margin:auto;
}
.site-title, .site-title:visited {
  color: $color-ocean;
  font-family: Caveat, sans-serif;
  font-size: 50px;
}
.site-nav .page-link {
  color: $color-ocean;
}
.site-logo {
  margin-top:5px;
  margin-bottom:5px;
  height: 70px;
}

.footer-col-wrapper, .post-meta {
  color: $color-silverback;
}

a {
  color: $color-ocean;
}
a:hover {
  color: lighten($color-ocean, 20%);
}
a:visited {
  color: darken($color-ocean, 10%);
}

h1,h2,h3,h4,h5 {
  color: $color-ocean;
  font-family: Quicksand, sans-serif;
  font-weight:lighter;
}

.social-media-list .icon {
  padding-right: 10px;
  vertical-align: -10%;
}
.icon svg {
  vertical-align: baseline;
}

.skip-main {
  position: absolute;
  top: 80px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.skip-main:focus {
  opacity: 1;
}
