---
---

$color-slate: #4a5c66;
$color-ocean: #00b8e6;

@import "{{ site.theme }}";

body {
  background-color: $color-slate;
  color: #CCC;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
}

.site-header, .site-footer {
  max-width: 800px;
  margin:auto;
}
.site-title, .site-title:visited {
  color: $color-ocean;
  font-family: Caveat, sans-serif;
  font-size: 50px;
}

h1,h2,h3,h4,h5 {
  color: $color-ocean;
  font-family: Quicksand, sans-serif;
  font-weight:lighter;
}